body > .container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    width: 60px;
    height: 60px;
}

.activity {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px
}

.activity:first-child {
    border-top-width: 0px;
}

.activity > div {
    vertical-align: top;
    display: inline-block
}

.activity .icon {
    padding-right: 10px;
}

.activities {
    background-color: white;
}

.activity .time {
    color: gray;
}

.activity .title *{
    vertical-align: top;
}

.activity .title img{
    width:16px;
    height:16px;
}

.project {
    color: gray;
}

footer {
    text-align: center;
    color: #999;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
    body > .container {
        margin-top: 30px;
    }
    img.icon {
        width: 36px;
        height: 36px;
        margin-bottom: 3px;
    }
}

