body > .container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    max-width: 60px;
    max-height: 60px;
}

.activity {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.activity:first-child {
    border-top-width: 0px;
}

.activity > .icon {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: -90px;
    float: left;
}
.activity .description {
    float: left;
    width: 80%;
    margin-left: 90px;
}

.activity .icon {
    padding-right: 10px;
}

.activities {
    background-color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
}

.activity .time {
    color: gray;
}

.activity .title *{
    vertical-align: top;
}

.activity .title img {
    width:16px;
    height:16px;
}

.info {
    color: gray;
}

.status-success {
    background-color: #dff0d8;
}

.status-error {
    background-color: #f2dede;
}

.status-warn {
    background-color: #fcf8e3;
}
.clickable {
    cursor: pointer;
}
.notifications.top-right {
  right: 10px;
  top: 50px;
}

footer {
    text-align: center;
    color: #999;
    margin-bottom: 20px;
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
    body > .container {
        margin-top: 20px;
    }
    img.icon {
        width: 36px;
        height: 36px;
        margin-bottom: 3px;
    }
    .activities {
        padding: 2px;
    }
    .activity > .icon {
        width: 40px;
        height: 40px;
        margin-left: 0px;
        margin-right: -50px;
    }
    .activity .description {
        width: 200px;
        margin-left: 50px;
    }
    footer span {
        display: block;
    }
}

